.footer{
    background-color: #ffffff;
    width: 99.5%;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color:rgb(1, 12, 12);
    text-align: center;
    border-style: groove;
    border-color: #429cf5;
   }